.personal-info {
  width: 80%;
  margin: auto;
  line-height: 88px;
  height: 88px;
}

.personal-info a {
  color: black;
  text-decoration: none;
  line-height: 1.5;
  display: inline-block;
  vertical-align: middle;
  padding: 0 5px;
}

.personal-info__search {
  margin-left: 60px;
}

.personal-info__profile {
  margin-left: 400px;
}

.personal-info__box {
  margin-left: 40px;
}

.personal-info__box-text {
  display: inline-block;
}

.personal-info__logo-icon {
  background: url('./logo.png') no-repeat;
  float: left;
  height: 86px;
  width: 220px;
}

.personal-info__user-icon {
  background: url('./user.png') no-repeat;
  float: left;
  height: 32px;
  width: 32px;
}

.personal-info__box-icon {
  background: url('./box.png') no-repeat;
  float: left;
  height: 32px;
  width: 32px;
  margin-top: 20px;
}
