.promo {
  width: 80%;
  margin: auto;
  overflow: hidden;
  border-top: 2px solid #ECECEC;
}

.promo__text {
  float: left;
}

.promo__text__input {
  height: 40px;
  width: 250px;
  text-indent: 10px;
  margin-right: 10px;
}

.promo__text__button {
  height: 40px;
  width: 200px;
  color: white;
  background-color: #B7B7B7;
  border: none;
  outline: none;
  border-radius: 25px;
  cursor: pointer;
}

.promo__sum__button {
  float: right;
  height: 40px;
  width: 200px;
  color: white;
  background-color: #FE7A25;
  border: none;
  outline: none;
  border-radius: 25px;
  cursor: pointer;
}

.promo__sum {
  float: right;
}

.promo__sum__text {
  float: right;
  margin-left: 200px;
}

.promo__sum__before-discount p {
  display: inline-block;
  margin-bottom: 10px;
}

.promo__sum__discount p {
  color: #FE7A25;
  display: inline-block;
  margin: 0 0 20px;
}

.promo__sum__after-discount p {
  display: inline-block;
}
