.items {
  width: 80%;
  margin: auto;
}

.items__header {
  width: 100%;
  text-align: center;
  border-bottom: 2px solid #ECECEC;
  line-height: 0.1em;
  margin: 50px 0 40px;
}

.items__header span {
  background: #fff;
  padding: 0 10px;
}

.items__table {
  width: 100%;
  text-align: left;
  table-layout: fixed;
  margin-bottom: 25px;
}

.items__table td {
  vertical-align: top;
}

.items__table th {
  height: 50px;
}

.items__table__img {
  width: 15%;
}

.items__table__description {
  width: 40%;
  padding-right: 300px;
}

.items__table__name {
  margin-top: 0;
}

.items__table__code {
  color: #808080
}

.items__table__size {
  margin-bottom: 0;
}

.items__table__color {
  margin-top: 0;
}

.items__table__delete {
  background: url('./del.png') no-repeat;
  cursor: pointer;
  border: none;
  width: 24px;
  height: 26px;
}

.items__table__delete:focus {
  outline: none;
}

.items__table__minus {
  background: url('./minus.png') no-repeat;
  cursor: pointer;
  border: none;
  width: 15px;
  height: 13px;
  margin-right: 10px;
}

.items__table__minus:focus {
  outline: none;
}

.items__table__plus {
  background: url('./plus.png') no-repeat;
  cursor: pointer;
  border: none;
  width: 14px;
  height: 15px;
  margin-left: 10px;
}

.items__table__plus:focus {
  outline: none;
}
